<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" href="<%= @items['/stylesheet/'].path %>">
  </head>
  <body>
    <div class="wrapper">
      <h1 class="header">
        <a href='/'>Prawject</a>
      </h1>

      <nav class="navigation">
        <ul>
          <li><a href="/">intro</a></li>
          <li><a href="/docs">docs</a></li>
          <li><a href="https://www.github.com/lytol/prawject">source</a></li>
          <li><a href="/help">help</a></li>
        </ul>
      </nav>

      <%= yield %>

      <p class="footer">© 2014 by <a href="http://lytol.com">Brian Smith</a>. MIT Licensed.</p>
    </div>
  </body>
</html>
